:root{color-scheme:light;font-family:Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;background-color:#faf9f8;color:#323130}body{margin:0;background-color:#faf9f8}#root{min-height:100vh}
